<div class='container'>
  <div class='row'>

    <div class='six columns'>

      <ul class='side-nav steps'>

        <li class='box one-sq'>
          <div class='box-title'>Login</div>
          <div class='box-info'>
            In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should create one.
          </div>
        </li>

        <li class='box two-sq'>
          <div class='box-title'>Choose a Project</div>
          <div class='box-info'>
            Once you have logged in, you will be able to navigate between Pivotal Tracker projects.
          </div>
        </li>

        <li class='box three-sq'>
          <div class='box-title'>Create or Select a Game</div>
          <div class='box-info'>
            After select a project, you can create or select games. This is another name for the iteration occurred during a sprint planning meeting. Here you can assign unestimated stories to a game.
          </div>
        </li>

        <li class='box four-sq'>
          <div class='box-title'>Play</div>
          <div class='box-info'>
            Wait for all the participants, start the game and PLAY! 
          </div>
        </li>

      </ul>

    </div>

    <div class='js-projects'>
    </div>

  </div>
</div>
