<div class='container'>
  <div class='row'>

    <div class='six columns'>

      <ul class='side-nav steps'>

        <li class='box one-sq'>
          <div class='box-title'>Login</div>
          <div class='box-info'>
            In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should create one.
          </div>
        </li>

        <li class='box two-sq'>
          <div class='box-title'>Choose a Project</div>
          <div class='box-info'>
            Once you have logged in, you will be able to navigate between Pivotal Tracker projects.
          </div>
        </li>

        <li class='box three-sq'>
          <div class='box-title'>Estimate</div>
          <div class='box-info'>
            After selecting a project, you can start to estimate by picking a card from the deck.
          </div>
        </li>

        <li class='box four-sq'>
          <div class='box-title'>Play</div>
          <div class='box-info'>
            Wait for all the participants to estimate and PLAY!
          </div>
        </li>

      </ul>

    </div>

    <div class='js-projects'>
    </div>

  </div>
</div>
