$red-c7:    #C70A2A;
$red-99:    #990000;

$orange-f9: #F9A73F;

$gray-f7:   #f7f7f7;
$gray-bb:   #bbb;
$gray-dd:   #ddd;
$gray-cc:   #ccc;

$black-55:  #555;

$green-35:  #355B29;
$green-3b:  #3B4D32;
$green-b2 : #B2BDAC;
