@import "mixins";

#main-content{

  .six.columns{

    .steps{

      .box {
        height: 225px;
        width: 225px;
        float: left;
        margin: 1px;
        overflow: hidden;
        padding: 10px;
        text-align:center;
        position: relative;

        &.one-sq{
          background: #B4BDAD url('../images/landing-page/one.png') no-repeat 15px 10px;
        }
        &.two-sq{
          background: #FAA83F url('../images/landing-page/two.png') no-repeat 15px 10px;
          &:hover{
            .box-title{
              font-size: 20px;
            }
          }
        }
        &.three-sq{
          background: #DFD4C9 url('../images/landing-page/three.png') no-repeat 15px 10px;
          .info h3{
            margin-bottom: 10px;
          }
          &:hover{
            .box-title{
              font-size: 19px;
            }
          }
        }
        &.four-sq{
          margin-bottom: 15px;
          background: #C70A2B url('../images/landing-page/four.png') no-repeat 15px 10px;
          .box-info {
            font-size: 20px;
          }
        }

        &:hover {
          .box-title {
            font-size: 22px;
            height: auto;
            padding: 0 25px;
          }

          .box-info {
            top: 50px;
            @include opacity(1);
          }
        }

        .box-title {
          @include global_font;
          @include transition;
          margin: 0 auto;
          display: table-cell;
          vertical-align: middle;
          font-size: 40px;
          font-weight: 100;
          color: #fff;
          letter-spacing: 1px;
          width: inherit;
          height: inherit;
          font-weight: 500;
        }

        .box-info {
          @include transition;
          @include global_font;
          @include opacity(0);
          text-align: left;
          padding: 15px;
          font-weight: 100;
          color: #fff;
          font-size: 13px;
          letter-spacing: 1px;
          position: absolute;
          left: 0;
          top: 220px;
          font-weight: 300;
        }
      }

    }
  }

  #work-area{
    .title{
      color: #C01126;
      font-weight:500;
      font-size: 27px;
      @include global_font;
      margin-top: 20px;
      border-bottom: 4px solid #000;
      span{
        font-size: 13px;
      }
    }
    #log-form{
      margin-top: 30px;
      padding: 15px;
      input[type=text], input[type=password]{
        height: 55px;
        @include global_font;
        font-size: 24px;
        padding: 0 15px;
      }
      input.button{
        @include global_font;
        background: #FAA83F;
        float: right;
        margin-top: 20px;
        border: 1px solid #FCD39E;
        clear: both;
        &:hover{
          background: #E39737;
        }
      }
      label{
        @include global_font;
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 5px;
      }
      .sign{
        a{
          font-size: 16px;
          color: #DFD3C7;
          font-weight: 800;
          @include global_font;
          float: right;
        }
      }
    }
    .fot{
      padding: 15px;
      padding-top: 10px;
      border-top: 4px solid #000;
      margin-top: 10px;
      .image-fot{
        background: transparent url('../images/landing-page/graph-footer.png') repeat-x;
        height: 50px;
      }
    }
    #projects{

      height: 388px;
      overflow-y: auto;

      .item{
        text-indent: 30px; 
        padding: 10px 0;
        background: transparent url('../images/landing-page/project-carts.png') no-repeat left center;
        @include opacity(.6);

        a{

          @include global_font;
          font-size: 28px;
          font-weight: 300;
          color: #000;
          overflow: hidden;

        }

        &:hover{
          @include opacity(1);
        }

      }
    }

    .titles{
      font-size: 16px;
      font-weight: bold;
      margin-top: 4px;
    }
  }
  

}

