@import "mixins";

body {
  @include global_font;
  background-color: #F2F1ED;
  h1, h2, h3, h4, li, p , button, a{
    @include global_font;
    padding: 0;
    margin: 0;
  }
  a{
    color: #F9A73F;
    &:hover{
      color: #C11127;
    }
  }
  .row{
    width: 940px;
  }

  #main-content{
    min-height: 548px;
  }

  // - --------------------------------------- header styling
  .top-bar {
    .egg {
      background: transparent url('../images/poker-face.png') no-repeat 0 bottom;
      position: absolute;
      width: 32px;
      height: 50px;
      left: 0;
      top: 0;
      @include transition;
    }

    .name:hover {
      .egg {
        left: -30px;
      }
    }

    ul {
      li.name {
        position: relative;

        & > * {
          float: left;
        }
        h1{
          padding-left: 60px;
          margin: 0;

          a{
            font-size: 30px;
            color: #C70A2B;
            font-weight: 800;
            span{ color: #fff;}
          }
        }
        .slog{
          padding: 7px 0;
          margin-left: 5px;
        }
        .logo{
          z-index: 5;
          position: absolute;

          a {
            padding: 0;
          }
        }
      }
    }
    #navigator{
      li {
        a{
          font-size: 18px;
          font-weight: 500;
          img{
            margin: 10px 5px 0 0;
            float: left;
          }
          &:hover{color: #F9A73F;}
          &.logout{
            img{
              margin-top: 7px;
            }
          }
        }
        .dropdown{
          padding: 0;
          li.item{
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid #333;
            a{
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 14px;
              font-weight: 400;
            }
            padding: 0;
          }
        }
      }
    }


  }

  // ----------------------------------- flash messages

  #flash-messages{
    width: 500px;
    margin: 0 auto;
  }

  // ----------------------------------- footer of the layout

  footer.bottom{
    @include global_font;
    border-top: 2px solid #DFD4C8;
    font-size: 16px;
    color: #000;
    @include opacity(.5);
    @include transition;
    p{
      text-align: center;
      width: 460px;
      margin: 0 auto;
      height: 24px;
      padding: 10px;
      line-height: 28px;
      &:before{
        content: " ";
        background: transparent url('../images/landing-page/footer-1.png') no-repeat center center;
        height: 26px;
        width: 25px;
        display:block;
        float: left;
      }
      &:after{
        content: " ";
        background: transparent url('../images/landing-page/footer-2.png') no-repeat center center;
        height: 26px;
        width: 26px;
        display:block;
        float: right;
      }
    }

    &:hover{
      @include opacity(1);
    }
  }

  // ------------------------------- Loading
  .loading {
    position: relative;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 940px;
      height: 548px;
      background: rgba(0,0,0, 0.2) url('/images/loading-trans.gif') no-repeat 50% 50%;
      z-index: 998;
    }

  }

}

@import "home_page";
@import "project_page";
