@mixin standard_font {
  font-family: Arial, Helvetica, sans-serif;
}
@mixin global_font {
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  -webkit-font-smoothing : antialiased;
}

.button{
  @include global_font;
  background: #FAA83F;
  @include text-shadow(rgba(0,0,0,0.2) 1px 1px 1px);
  border: none;
  &:hover{
    background: #E39737;
  }
}
