extends layout

block content

  include header
  #main-content.row
  // include footer

  input#user(type='hidden', value='#{user}')

  - if(user)
    p Welcome:
      i #{user}
    a(href="/logout") Log out
    include projects-list
  - else
    form(action="/login", method="POST")
      label Mail
      input(type="text", name="username", placeholder="EXAMPLE@DOMAIN.COM")
      label Password
      input(type="password", name="password", placeholder="********")
      input(type="submit", value="LOGIN", class="button")



        
