extends layout

block content

  include header
  #flash-messages
  #main-content.row
    .loading
      .panel.radius
        h4 Loading page <small>it's in there, I swear !</small>
  include footer
