extends layout

block content

  #landing 
    nav.top-bar
      .row
        ul
          li.name
            .egg
            .logo
              a(href="/")
                img(src="images/logo.png")
            h1
              a(href="/") POKER 
                span ESTIMATE’EM
        section#tango
          img(src="images/tango-logo.png")

