extends layout

block content

  #landing-page
    nav.top-bar
      .row
        ul
          li.name
            .egg
            .logo
              a(href="/")
                img(src="images/logo.png")
            h1
              a(href="/") POKER 
                span ESTIMATE’EM
        section#tango
          img(src="images/tango-logo.png")
     #content-display
       .row
         section.step-information
           ul#info-steps
            li.visible
              h1 Login
              p In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should create one.
            li
              h1 step 2
              p In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should create one.
            li
              h1 step 3
              p In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should create one.
            li
              h1 step 4
              p In order to use this App you would need a Pivotal Tracker Account to fetch all your projects. Otherwise, you should create one.

         section.monitor
           // .reflex
           ul#screen-steps
             li
               img.scree1(src="images/step1.jpg")
             li
               img.scree1(src="images/step1.jpg")
             li
               img.scree1(src="images/step1.jpg")
             li
               img.scree1(src="images/step1.jpg")

      #steps
        .row
          ul#coins
            li.step1 
              span Step1
            li.step2
              span Step1
            li.step3
              span Step2
            li.step4
              span Step4
          #pivotal
            .info If you don’t have a pivotal account go to
            a(href="/")
              img(src="images/pivotal-logo.png")
      footer
        .row
          #poker-card
            img(src="images/estimation-game/cart-sel.png")


          
