doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/libs/jquery.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/Backbone.js')

    script(src='/javascripts/main.js')
    script(src='/javascripts/router.js')

    script(src='/javascripts/app/collections/projects.js')
    script(src='/javascripts/app/views/homeView.js')
  body
    block content
