.six.columns#work-area
  input#user(type="hidden", value="#{user}")
  - if(user)
    .row.title PROJECTS
    .row.titles Project Name
    .row#projects
      ul.projects-list
        // this content is for the projects template
  - else
    .row.title LOGIN 
      span WITH YOUR 
      r PIVOTAL TRACKER 
      span ACCOUNT
    .row#log-form
      form(action="/login", method="post", id="login-form")
        div
          label Mail
          input(type="text", name="username", placeholder="EXAMPLE@DOMAIN.COM")
          br
          label Password
          input(type="password", name="password", placeholder="********")
          .sign
            a(href="https://www.pivotaltracker.com/signup/new") OR SIGN UP
          input.button(type="submit", value="LOGIN")
  .row.fot 
    .image-fot
