/*
Syntax error: Undefined mixin 'opacity'.
        on line 58 of /Users/gazelle/Documents/work/node/PokerEstimate/public/sass/home_page.scss, in `opacity'
        from line 58 of /Users/gazelle/Documents/work/node/PokerEstimate/public/sass/home_page.scss

Backtrace:
/Users/gazelle/Documents/work/node/PokerEstimate/public/sass/home_page.scss:58:in `opacity'
/Users/gazelle/Documents/work/node/PokerEstimate/public/sass/home_page.scss:58
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `load'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `<main>'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `eval'
/Users/gazelle/.rvm/gems/ruby-1.9.3-p286/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'opacity'.\A         on line 58 of /Users/gazelle/Documents/work/node/PokerEstimate/public/sass/home_page.scss, in `opacity'\A         from line 58 of /Users/gazelle/Documents/work/node/PokerEstimate/public/sass/home_page.scss"; }
