/* line 10, ../sass/mixins.scss */
.button {
  font-family: "helvetica neue",helvetica-neue , Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #FAA83F;
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  border: none;
}
/* line 15, ../sass/mixins.scss */
.button:hover {
  background: #E39737;
}
