<section class='who'>
  <h3 class='title'>Results</h3>

  <ul class='players'>
    <% _.each(estimations, function(estimation){ %>
      <li>
        <li class='player open'> 
          <span class='points'><%= estimation.card%></span>
          <span class='name'><%= estimation.player.substring(0,20)%></span>
        </li>
      </li>
    <% })%>
  </ul>

  <strong>Result: <%= result%><strong>

  <label class='rem-time'>Remaining time</label>
  <h2 class='time-val active-time'><%= time%></h2>
</section>
