<div id='player-container' class='row'>

  <h1 class='name'><%= project.name%></h1>

  <div class='container row'>
    <div id='list-players' class='three'>

      <div class='head'>
        <h1>PLAYERS</h1>
        <div class='clear'></div>
      </div>


      <div class='js-player-list'>

        <div class='alert-box hide'>
          <span class='js-message'></span>
        </div>

        <ul class='list'>
        </ul>
      </div>

    </div>

    <div id='list-tasks' class='nine'>

      <div class='head'>
        <h1 class='four'>STORIES</h1>
        <input id='filter' class='nametask fn-filter-task' type='text' placeholder='Filter'/>
      </div>

      <ul class='list js-taskList'>
        <li class='item four'>Loading...</li>
      </ul>

    </div>

  </div>

</div>
