<section class='cards'>

  <ul class='list'>

    <li class='card'>
      <a href='#'>1</a>
    </li>

    <li class='card'>
      <a href='#'>2</a>
    </li>

    <li class='card'>
      <a href='#'>3</a>
    </li>

    <li class='card'>
      <a href='#'>5</a>
    </li>

    <li class='card'>
      <a href='#'>8</a>
    </li>

    <li class='card'>
      <input />
    </li>

  </ul>

</section>

<section class='update'>
  <a href='#' class='tiny button js-save'>Save</a>
</section>

<section class='who'>
  <h3>Players <small>(all ready bet)</small></h3>
  <ul class='players'>

    <% _.each(estimated, function(estimation){ %>
      <li class='player'> <%= estimation.player%> </li>
    <% })%>

  </ul>
</section>


<h3 class='title'>
  <%= title%>
</h3>

<section class='labels'>
  <% _.each(labels, function(label){ %>
  <label><%= label%></label>
  <%}) %>
</section>

<section class='description'>
  <%= description%>
</section>

<section class='owner'>
  <%= requested_by%>
</section>
