<h3 class='title'>
  <%= title%>
</h3>

<section class='labels'>
  <% _.each(labels, function(label){ %>
    <label><%= label%></label>
  <%}) %>
</section>

<section class='description'>
  <%= description%>
</section>

<section class='owner'>
  <%= requested_by%>
</section>

<section class='list'>
</section>

<section class='cards'>

  <div class='card'>
    1
  </div>

  <div class='card'>
    2
  </div>

  <div class='card'>
    3
  </div>

  <div class='card'>
    5
  </div>

  <div class='card'>
    8
  </div>

  <div class='card'>
    ?
  </div>

</section>

<section class='update'>
  Save/Cancel
</section>
