<div class='close-game'>
  <a href='#' class='small button radius secondary js-close'>Let's Play</a>
</div>

<section class='cards'>

  <ul class='list'>

    <li class='card p1' data-value="1">
    </li>

    <li class='card p2' data-value="2" >
    </li>

    <li class='card p3' data-value="3">
    </li>

    <li class='card p5' data-value="5">
    </li>

    <li class='card p8' data-value="8">
    </li>

    <li class='card pq'>
      <input />
    </li>

  </ul>

</section>

<section class='update'>
  <a href='#' class='tiny button js-save'>Save</a>
</section>

<section class='who'>
  <h3>Players <small>(all ready bet)</small></h3>
  <ul class='players'>

    <% _.each(estimated, function(estimation){ %>
      <li class='player'> <%= estimation.player%> </li>
    <% })%>

  </ul>
</section>


<h3 class='title'>
  <%= title%>
</h3>

<section class='labels'>
  <% _.each(labels, function(label){ %>
  <label><%= label%></label>
  <%}) %>
</section>

<section class='description'>
  <%= description%>
</section>

<section class='owner'>
  <%= requested_by%>
</section>
